{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <h1> {% trans 'Search result for the query: ' %}{{query}}</h1>
    <div class="row">
        {% for article in page_obj %}
        {% empty %}
        <p>{% trans 'I didnt find anything' %}</p>
        {% endfor %}
    </div>
    <!-- pagination start -->
    <div class="container">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">{% trans 'Previous' %}</a>
            </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="#">
                    {% trans 'Page' %} {{page_obj.number}} {% trans 'outta' %} {{page_obj.paginator.num_pages}}
                </a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}">{% trans 'Next' %}</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- pagination end -->
</div>

{% endblock content%}