{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'News' %}</title>
</head>

<body class="{{ request.session.theme|default:'light' }}">
    <div class="menu">
        <ul>
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="language" value="ru">
                <input type="hidden" name="text" value="{{request.path}}">
                <button type="submit" style="width: 100px;"
                    class="btn btn-sm {% if LANGUAGE_CODE == 'ru' %} btn-warning {% else %} btn-outline-warning {% endif %}">RU</button>
            </form>

            <form action="{% url 'set_language' %}" method="post" style="margin-left: 5px; margin-right: 5px;">
                {% csrf_token %}
                <input type="hidden" name="language" value="en">
                <input type="hidden" name="text" value="{{request.path}}">
                <button type="submit" style="width: 100px;"
                    class="btn btn-sm {% if LANGUAGE_CODE == 'en' %} btn-warning {% else %} btn-outline-warning {% endif %}">EN</button>
            </form>
            <li> <a href='/'> {% trans 'Main' %} </a> </li>
            {% for category in categories %}
            <li> <a href="{% url 'category_posts' category.slug %}"> {{category.name}}
                </a> </li>
            {% endfor %}
            <li class="dropdown">
                <a href="#"> {% trans 'Recommendations' %} </a>
                <div class="dropdown-menu">
                    <h3 style="color: black;">Recommended</h3>
                    <ul>
                        {% for article in articles|slice:":4" %}
                        <li>
                            <a href="{% url 'post_detail' article.slug %}">
                                {{article.title|slice:":40"}}...
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <!-- search start -->
            <form role="search" method="get" action="{% url 'search' %}" style="display: flex; gap: 5px;">
                <input type="search" class="form-control" placeholder="{% trans '🔍 Searching...'%}" aria-label="Search"
                    name="search" value="{{ request.GET.search }}"
                    style="width: 220px; border-radius: 20px; padding: 5px 12px; border: 1px solid #ccc; margin-left: 100px;">
                <button type="submit" style="display: none;"></button>
            </form>
            <!-- search end -->
            <!-- Login/out start -->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">{{user.username}}</a>
            </li>
            <li class="nav-item" style="color: red;">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="nav-link" style="width: 100px;">Exit</button>
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">{% trans 'Register' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">{% trans 'Login' %}</a>
            </li>
            {% endif %}
            <!-- Login/out end -->
            <!-- set theme start -->
            <form method="post" action="{% url 'set_theme' %}" style="width: 100px; justify-content: right;">
                {% csrf_token %}
                <div class="theme-switcher">
                    <button class="theme-btn {% if request.session.theme == 'dark' %}active{% endif %}" name="theme"
                        value="dark">🌙</button>
                    <button class="theme-btn {% if request.session.theme == 'light' %}active{% endif %}" name="theme"
                        value="light">☀️</button>
                    <button class="theme-btn {% if request.session.theme == 'medium' %}active{% endif %}" name="theme"
                        value="medium">🎨</button>
                </div>
            </form>
            <!-- set theme end -->
        </ul>
    </div>

    <!-- header -->
    <div class="container">
        <div class="d-flex gap-2">
            {% for tag in hashtags %}
            <a href="{% url 'hashtag_category_posts' pk=tag.pk %}">
                {{ hashtag.name }}
                <p style="color: white;">
                    {{tag.name}}
                </p>
            </a>

            {% endfor %}
        </div>

    </div>
    <!-- content start -->
    <div class="banner">
        {% for page in page_obj|slice:":2" %}
        <div class="card" style="margin-bottom: auto; border-radius: 60px;">
            <a href='{% url "post_detail" page.slug %}'>
                {% if page.img %}<img src="{{page.img.url}}">{% endif %}
                <h4>{{page.title}}</h4>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="tbanner">
        {% for page in page_obj|slice:"2:5" %}
        <div class="cardik">
            <a href='{% url "post_detail" page.slug %}'>
                {% if page.img %}<img src="{{page.img.url}}">{% endif %}
                <h5>{{page.title}}</h5>
            </a>
        </div>
        {% endfor %}
    </div>


    </div>
    <!-- content end -->
    <!-- header -->
    {% block content %}
    {% endblock content %}


    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

<footer>
    <div class="footer-content">
        <ul class="footer-links">
            <li><a target="_blank" href="#">О нас</a></li>
        </ul>
        <p>{% trans "Материалы строго предназначены для ознакомления" %}</p>
        <p>{% trans "© 2026 - Поддержка Aura" %}</p><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZDSPuGIYFBs7J4bXQexXd0lZ3SaJcXWIK7F_3eq-6m3dcduwMUO1gAgoMkuRki3XzYdnG&s=10">
        </p>`
    </div>
</footer>

</html>