{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>


    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новостной сайт</title>
</head>

<body>
    <div class="menu">
        <ul>
            <li> <a href='/'> Main </a> </li>
            {% for category in categories %}

            <li> <a href="{% url 'category_posts' category.slug %}"> {{category.name}} ({{category.articles.count}})
                </a> </li>
            {% endfor %}
            <li class="dropdown">
                <a href="#"> Рекомендации ▾ </a>
                <div class="dropdown-menu">
                    <h3>Рекомендуем</h3>
                    <ul>
                        <li><a href="#">Природа Кыргызстана</a></li>
                        <li><a href="#">Исык-Куль</a></li>
                        <li><a href="#">Отставка Ташиева</a></li>
                        <li><a href="#">Побетилеи зимних горнолыжных игр в Караколе определены</a></li>
                        <li><a href="#">Поголовье домашней птицы в Кыргызстане достигло 8,6 миллиона в 2025 году</a>
                        </li>
                        <li><a href="#">Разработка месторождения Тоголок: $2,3 миллиарда выручки и 600 рабочих мест</a>
                        </li>
                        <li><a href="#">Самат Эркинбеков стал главой Дирекции по неолимпийским видам спорта</a></li>
                        <li></li>
                    </ul>
                </div>
            </li>
            <li class="search-wrapper">
                <a href="#">🔍 Поиск</a>
                <form method="get" class="search-dropdown">
                    {% if request.GET.search %}
                    <p>Результат по запросу: {{ request.GET.search }}</p>
                    {% for post in posts %}
                    <div class="search">
                        <a href="{% url 'post_detail' post.slug %}">
                            <div>{{ post.title }}</div>
                        </a>
                    </div>
                    {% empty %}
                    <p>Ниче не нашел</p>
                    {% endfor %}
                    {% endif %}
                    <input type="text" placeholder="Что ищете?" name="search">
                    <input type="submit" value="Найти">
                </form>
            </li>
        </ul>
    </div>

    <!-- header -->
    <div class="container">
        <div class="d-flex gap-2">
            {% for tag in hashtags %}
            <a href="{% url 'hashtag_category_posts' pk=tag.pk %}">
                {{ hashtag.name }}
                <p style="color: white;">
                    {{tag.name}}
                </p>
            </a>

            {% endfor %}
        </div>

    </div>
    <!-- content start -->
    <div class="banner">
        {% for page in page_obj|slice:":2" %}
        <div class="card">
            <a href='{% url "post_detail" page.slug %}'>
                {% if page.img %}<img src="{{page.img.url}}">{% endif %}
                <h4>{{page.title}}</h4>

            </a>
        </div>
        {% endfor %}
    </div>

    <div class="tbanner">
        {% for page in page_obj|slice:"2:5" %}
        <div class="cardik">
            <a href='{% url "post_detail" page.slug %}'>
                {% if page.img %}<img src="{{page.img.url}}">{% endif %}
                <h5>{{page.title}}</h5>
            </a>
        </div>
        {% endfor %}
    </div>


    </div>
    <!-- content end -->
    <!-- header -->
    {% block content %}
    {% endblock content %}


    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

<footer>
    <div class="footer-content">
        <ul class="footer-links">
            <li><a target="_blank" href="#">О нас</a></li>
        </ul>
        <p>Материалы, размещенные на сайте News.kg,строго предназначены только для ознакомления и персонального
            пользования.  © 2026 - Поддержка Aura <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZDSPuGIYFBs7J4bXQexXd0lZ3SaJcXWIK7F_3eq-6m3dcduwMUO1gAgoMkuRki3XzYdnG&s=10">
        </p>`
    </div>
</footer>

</html>